.header {
    display: flex;
    flex-direction: column;
    

}

img {
    width: 250px;
    height: 250px;
    
}

ul {
    display: flex;
    list-style: none;

}

a {
    text-decoration: none;

}

.head-text {
    display: flex;
    justify-content: space-around;
    
}

.head-container {
    display: flex;
    justify-content: space-between;
}

.lower-container {
    display: flex;
    flex-direction: column;
    
}

/* start of body-one */

.body-one {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    
    border: 2px solid blue;
    border-radius: 25px;
    padding: 16px;
    margin: 16px;
    width: 100px;
    height: 100px;
}

.one-container {
    display: flex;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* start body-two */

.body-two {
    display: flex;
    
    
    justify-content: center;
    border: 2px solid black;
    
}

.two-container {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    max-width: fit-content;
}

.quote-owner {
    display: flex;
    border: 2px solid black;
    justify-content: flex-end;
}